# Python virtual environments
.venv/
env/
venv/

# Bytecode files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variable files
.env